<footer>
    <div class="mt-32 shadow-md bg-black p-5">
        <p class= "text-white text-xl px-8 pt-3 font-bold">Dongguk University</p>
        <p class= "text-white text-median text-md px-8 font-semibold">산업시스템공학종합설계</p>
    <p class= "text-white text-sm px-8">실시간 영상 분석을 통한 Online 수업 집중력 및 이해도 통계 제공 웹 개발, ON:ttention</p>
<p class= "text-white pt-5 text-xs px-8">권민정(minjeong5352@dgu.edu)</p>
<p class= "text-white text-xs pt-1 px-8">김초희(skchtla@dgu.ac.kr)</p>
<p class= "text-white text-xs pt-1 px-8">김현하(heenari0428@dgu.ac.kr)</p>
<p class= "text-white text-xs pt-1 px-8">복유연(uybok@naver.com)</p> 
<p class= "text-white text-xs pt-1 px-8">송서영(2018112482@dgu.ac.kr)</p>
    </div>

</footer>