<header class="fixed bg-white w-full h-12 shadow-md">
    <div class="flex justify-between">
        <p class="font-light text-black	m-2 ml-12 text-2xl">
            <a href="{{url_for('index')}}">산업시스템공학종합설계 16주차 1강</a>
        </p>
        <div class="flex pr-10 pt-2">
            <p class="font-light text-black	m-2 ml-12 text-sm hover:underline hover:text-green-800"><a href="{{url_for('index')}}">이해도 확인하기</a></p>
            <p class="font-light text-black	m-2 ml-12 text-sm hover:underline hover:text-green-800"><a href="{{url_for('att')}}">집중도 확인하기</a></p>
        </div>
    </div>
</header>